{% for r_thread in r_threads %}
  {{ loop.index }}. {{ r_thread.title }} ({{ r_thread.ups }} upvotes)
  <br/>
  <a href='{{ r_thread.url }}'>{{ r_thread.url }}</a>
  <br/>
  <a href='https://www.reddit.com{{ r_thread.permalink }}'>{{ r_thread.permalink }}</a>

  {% if r_thread.selftext %}
    <p>{{ r_thread.selftext }}</p>
  {% endif %}

  <hr/>
{% endfor %}