{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block head %}
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.12.1.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='socket.io-2.0.3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='subreddit-search.js') }}"></script>
		<link href="{{ url_for('static', filename='jquery-ui-1.12.1.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
	<form action="{{ request.path }}" method="post">
		{{ form.csrf_token }}
		{{ render_field(form.subreddit) }}
		<br/>
		{{ render_field(form.target_email) }}
		<br/>
		<input type="submit" value="Save"/>
	</form>
{% endblock %}
