{% extends "layout.html" %}
{% block body %}
  <p>
	<strong>Subreddit</strong>: {{ job.subreddit }}<br/>
	<strong>Email</strong>: {{ job.target_email }}<br/>
	<strong>Time (UTC)</strong>: {{ job.cron_trigger_str }}
	</p>

	<form action="/jobs/{{ job.job_key }}/edit/" method="get">
		<input class="full-width mui-btn mui-btn--small mui-btn--primary mui-btn--raised" type="submit" value="Edit"/>
	</form>

	<form action="/jobs/{{ job.job_key }}/delete/" method="post">
		<input class="full-width mui-btn mui-btn--small mui-btn--primary mui-btn--raised" onclick="return confirm('Are you sure you want to delete this subscription?');" type="submit" value="Delete"/>
	</form>

	<form action="/jobs/{{ job.job_key }}/run/" method="post">
		<input class="full-width mui-btn mui-btn--small mui-btn--primary mui-btn--raised" type="submit" value="Send Test Email"/>
	</form>

	<form action="/jobs/new/" method="get">
		<input class="full-width mui-btn mui-btn--small mui-btn--primary mui-btn--raised" type="submit" value="Create New Job"/>
	</form>
{% endblock %}
