{% extends "layout.html" %}
{% from "_formhelpers.html" import render_field %}
{% block head %}
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery-ui-1.12.1.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='jquery.timepicker.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='socket.io-2.0.3.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='subreddit-search.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='email-time.js') }}"></script>
		<link href="{{ url_for('static', filename='jquery-ui-1.12.1.css') }}" rel="stylesheet"/>
		<link href="{{ url_for('static', filename='jquery.timepicker.css') }}" rel="stylesheet"/>
{% endblock %}
{% block body %}
	<form action="{{ request.path }}" method="post">
		{{ form.csrf_token }}
		<div class="mui-textfield mui-textfield--float-label">
			{{ render_field(form.subreddit, required=True) }}
			<label>Subreddit</label>
		</div>
		<div class="mui-textfield mui-textfield--float-label">
			{{ render_field(form.target_email, required=True) }}
			<label>Email</label>
		</div>
		<div class="mui-textfield mui-textfield--float-label">
			{{ render_field(form.email_time, required=True, class_="email_time") }}
			<label>Time (UTC)</label>
		</div>
		<input class="mui-btn mui-btn--primary mui-btn--raised" type="submit" value="Save"/>
	</form>
{% endblock %}
