<!doctype html>
<head>
	<title>rcollate</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% block head %}{% endblock %}

	<script src="//cdn.muicss.com/mui-0.9.18/js/mui.min.js"></script>
	<link href="//cdn.muicss.com/mui-0.9.18/css/mui.min.css" rel="stylesheet" type="text/css" />

	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>
<body>
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			{% for message in messages %}
				<p>{{ message }}</p>
			{% endfor %}
		{% endif %}
	{% endwith %}
	<div class="mui-container-fluid">
		<div class="mui-panel mui-col-sm-offset-2 mui-col-sm-8 mui-col-md-offset-3 mui-col-md-6">
			<div class="mui--text-display1"><a style="text-decoration: none; color: black;" href="/">rcollate</a></div>
			<div class="mui--text-caption">Receive daily emails for your favourite subreddits</div>
			<div class="header-divider mui-divider"></div>
			{% block body %}{% endblock %}
		</div>
	</div>
</body>
