{% for r_thread in r_threads %}
  <h4>{{ loop.index }}. {{ r_thread.title }} ({{ r_thread.ups }} upvotes, <a href='https://www.reddit.com{{ r_thread.permalink }}'>thread</a>)</h4>

  <a href='{{ r_thread.url }}'>{{ r_thread.url }}</a>

  {% if r_thread.selftext %}
    <p>{{ r_thread.selftext }}</p>
  {% endif %}
{% endfor %}

<hr/>
<a href="{{ job_view_url }}">Edit Subscription</a>
