{% for job_id, job in jobs.items() %}
  <a href="/jobs/{{ job_id }}/">Job {{ job_id }}: {{ job.subreddit }} / {{ job.target_email }} / {{ job.cron_trigger }}</a>
  <span>[</span>
  <a href="/jobs/{{ job_id }}/edit/">edit</a>
  <span>,</span>
  <form action="/jobs/{{ job_id }}/delete/" method="post">
    <input type="submit" value="delete"/>
  </form>
  <span>]</span>
  <br/>
{% endfor %}
